{% extends 'base.html' %}

{% block title %}
{{title}} - Página Inicial
{% endblock %}

{% block content %}
<section id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for messagem in messages %}
          <div class="alert alert-success" role="alert">
                {{ messagem }}
          </div>
           
          {% endfor %}
        {% endif %}
        {% endwith %}                
                <h1>Bem-vindo ao Blog de Projetos de Felipe Andrade de Lima</h1>
                <p>
                    Olá, sou Felipe Andrade de Lima, e este é o meu espaço digital onde compartilho meus projetos pessoais e descobertas criativas. Se você gosta de inovação, criatividade e tecnologia, está no lugar certo!
                    
                    O que você encontrará aqui:
                    
                    Projetos Pessoais: Explore uma variedade de projetos que tenho trabalhado ao longo dos anos. De [descreva brevemente o tipo de projetos que você compartilha, por exemplo, "desenvolvimento de software" a "projetos de arte interativa"], aqui você encontrará minha jornada criativa.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
